!!!5
%html
  %head
    %meta{:"http-equiv" => "Content-Type", :content => "text/html;charset=utf-8"}
    %link{:rel => 'icon', :type => 'image/vnd.microsoft.icon', :href => '/favicon.ico'}
    %link{:rel => 'shortcut icon', :type => 'image/vnd.microsoft.icon', :href => '/favicon.ico'}
    <!--[if ! lte IE 6]><!-->
    %link{:rel => 'stylesheet', :href => '/stylesheets/danielsproduce.css', :media => 'screen, projection', :type => 'text/css'}
    <!--<![endif]-->
    <!--[if lte IE 6]><!-->
    %link{:rel=>'stylesheet', :href=>'http://universal-ie6-css.googlecode.com/files/ie6.1.1.css', :media => 'screen, projection', :type => 'text/css'}
    <!--<![endif]-->
    /[if lt IE 9]
      %script{:type => 'text/javascript', :src => 'http://html5shiv.googlecode.com/svn/trunk/html5.js'}
    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-9687987-20']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    %title Daniels Produce
  %body
    .container
      %header
        .left
          - if @flash
            %object{:type => "application/x-shockwave-flash", :data => "/images/intro.swf", :width => "454", :height => "220"}
              %param{:name => "wmode", :value => "transparent"}
          - else
            %img{:id => 'banner', :src => "/images/#{@banner}.png", :alt => 'corn'}
        .right
          %a{:href => '/'}
            %img{:id => 'logo', :src => '/images/logo.png', :alt => 'logo'}
      %section
        .left
          = yield
        .right
          %nav
            %a{:href => '/welcome', :title => 'Welcome', :class => "#{'selected' if params[:section] == 'welcome'}"} Welcome
            %hr
            %a{:href => '/our_story', :title => 'Our Story', :class => "#{'selected' if params[:section] == 'our_story'}"} Our Story
            %hr
            %a{:href => '/how_we_grow', :title => 'How We Grow', :class => "#{'selected' if params[:section] == 'how_we_grow'}"} How We Grow
            %hr
            %a{:href => '/wholesale_cabbage', :title => 'Wholesale Cabbage', :class => "#{'selected' if params[:section] == 'wholesale_cabbage'}"} Wholesale Cabbage
            %hr
            %a{:href => '/wholesale_corn', :title => 'Wholesale Corn', :class => "#{'selected' if params[:section] == 'wholesale_corn'}"} Wholesale Corn
            %hr
            %a{:href => '/wholesale_peppers', :title => 'Wholesale Peppers', :class => "#{'selected' if params[:section] == 'wholesale_peppers'}"} Wholesale Peppers
            %hr
            %a{:href => '/wholesale_squash', :title => 'Wholesale Squash', :class => "#{'selected' if params[:section] == 'wholesale_squash'}"} Wholesale Squash
            %hr
            %a{:href => '/retail_products', :title => 'Retail Products', :class => "#{'selected' if params[:section] == 'retail_products'}"} Retail Products
            %hr
            %a{:href => '/in_the_news', :title => 'In The News', :class => "#{'selected' if params[:section] == 'in_the_news'}"} In The News
            %hr
            %a{:href => '/meet_the_crew', :title => 'Meet The Crew', :class => "#{'selected' if params[:section] == 'meet_the_crew'}"} Meet The Crew
            %hr
            %a{:href => '/contact_us', :title => 'Contact Us', :class => "#{'selected' if params[:section] == 'contact_us'}"} Contact Us
        .clear
      %footer
        .left
          %img{:src => "/images/#{@footer_1}.png", :alt => 'footer_1'}
          %img{:src => "/images/#{@footer_2}.png", :alt => 'footer_2'}
          %img{:src => "/images/#{@footer_3}.png", :alt => 'footer_3'}
          %img{:src => "/images/#{@footer_4}.png", :alt => 'footer_4'}
        .right
          %img{:src => "/images/#{@corner}.png", :alt => 'corner'}